.header {
background: rgb(178, 245, 178);
display: flex;
justify-content:center ;
margin:0;
}
.wrap {
width: 100%;
display: flex;
flex-direction: column;
align-items: center;
}

.title{
font-family: Verdana, sans-serif;
font-size: 30px;
font-weight: bold;
}

.magic{
color: cornflowerblue;
}

.word{
color: rgba(61, 192, 142, 0.883);
}

.logo { 
background-image: url(/assets/images/png/logo.png);
background-size: contain;
background-repeat: no-repeat;
width: 50px;
min-height: 30px;
margin-right: auto;
}

.nav {  
cursor: pointer;
display: flex;
width: 1100px;
justify-content: space-evenly;
al
font-family: Verdana, sans-serif;
}

.link:hover{
background: dodgerblue;
}

.main1{
  background: rgba(181, 245, 245, 0.842);
  display: flex;
  }

.firstrow {

  width:100% ;
}
.tool1 {
margin-top:10px ;
margin-left:20px;
}
.tool2{
margin-left: 20px; 
}

.tool3{
  margin-top:10px ;
}

.secondrow {
  width: 100%;
} 







